/*font-family: 'Encode Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
#CBC3E3 light purp
#BDB5D5 darker purp
#9AC0CE blue
#0b0b0b dark grey*/

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}

.navbar {
    background-color: rgba(255, 255, 255, .8);
}

.hero {
    padding: 160px 50px 100px 60px;
    text-align: center;
    background-color: #0b0b0b;
    color: white;
}

.hero h1 {
   padding: 45px;
}

.btn-branding {
    background-color: white;
    color: #0b0b0b;
}

.btn-learn {
    background-color: #9AC0CE;
    color: white;
}

.links {
    text-decoration: none;
    color: black;
}

.about-hero {
    padding: 50px;
    margin-top: 50px;
    text-align: center;
}