/*font-family: 'Encode Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */


body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}